.ReactModal__Content {
  opacity: 0;
}

.ReactModal__Content--after-open {
  width: 90%;
  height: 90%;
  opacity: 1;
  transition: all 800ms;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.GlobeModal {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%,50%);
}

.GlobeModal:focus {
  outline:0;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #01010ecc;
  z-index: 100;
}

.CloseButtonPostioning {
  z-index: 1;
  position: absolute;
  top: 4px;
  right: 13px;
}

/* The Close Button */
.CloseButton {
    color: rgba(255,255,255, 0.8);
    font-size: 28px;
    font-weight: bold;
    clear: both;
    z-index: 1;
}

.CloseButton:hover,
.CloseButton:focus {
    color: rgba(255,255,255, 1);
    text-decoration: none;
    cursor: pointer;
}
