a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	color: white;
	font: normal 16px sans-serif;
	position: absolute;
	bottom: 200px;
	left: 100px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 70vh;

	padding: 100px 100px;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}


/*----------------
 	Video Section
----------------*/
.video-container{
	position: relative;
	justify-content: center;
	min-height: 70vh;
	color: #fff;
	text-align: center;
}

.video-container .background-video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-size: cover;
	/*background-color: #2196F3;*/
	z-index: -1;
}

.video-container .background-video:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.video-container .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.video-container .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.video-container h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.video-container h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.video-container a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.video-container{
		min-height: 600px;
	}

	.video-container h1{
		font-size: 48px;
	}

	.video-container h3{
		font-size: 24px;
	}

	.video-container a.btn{
		padding: 15px 40px;
	}

}
