@media all and (max-width: 1100px) {
  .mapboxgl-ctrl-top-right {
    right: 47% !important;
  }
}

@media all and (max-width: 900px) {

  .mapboxgl-ctrl-top-right {
    right: 37% !important;
  }
}

.mapboxgl-ctrl-top-right {
  top: 30px;
  right: 57%;
  transition: all cubic-bezier(0.63, 0.13, 0.01, 0.99) 500ms;
}

.mapboxgl-canvas-container{
  cursor: pointer !important;
}
