.container {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.regions {
  display: flex;
  justify-content: center;
}

.regions li {
  transition: all 300ms;
  margin: 0 35px;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  z-index: 1;
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 13px;
  width: 100px;
  text-align: center;
}

.RegionNavBar {
  z-index: 1;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: 50px;
}

.RegionNavBar button {
  width: 100%;
  background: black;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: black;
  padding-bottom: 10px;
}

button:hover {
  border-bottom-color: red;
}
